fieldset>div{
    margin-bottom: 10px;
}

fieldset{
    border: 3px solid green;
    background-color: aquamarine;
    width: 14vw;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%;
}

legend {
    background-color: green;
    color: #000;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

h1{
    text-align: center;
}

#submit{
    float: right;
    height: 50px;
    margin-top: 2px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

#back{
    height: 50px;
    margin-top: 2px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    float: left;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24;
  
}

#mainpage{
    display: none;
}